In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./data/abusive_tweets_compile.csv",index_col=[0])
df.head()

                 Tweet_ID category       hate_users        creation_date
Index
0      847503045961236482        +  @Gummybeardaddy  2017-03-30 17:37:26
1      848377709361287168        +      @arkieman66  2017-04-02 03:33:02
2      847600211224477696        +      @mark_abadi  2017-03-31 00:03:32
3      849469625087799297        +    @Briiannareed  2017-04-05 03:51:55
4      848295484217114624        +  @witty_whitters  2017-04-01 22:06:18

In [3]:
df2 = pd.read_csv('./output/missed.txt', sep=" ", header=None)
df2.columns = ["Tweet_ID"]

In [4]:
df2.head()
df.shape

(60638, 4)

In [5]:
op = pd.merge(df,df2)

In [6]:
op.shape

(22752, 4)

In [7]:
op.head()

             Tweet_ID category        hate_users        creation_date
0  849811553125838849        +          @DLoesch  2017-04-06 02:30:37
1  849467859298377728        +  @chasing_urdream  2017-04-05 03:44:54
2  848463516415647744        +           @dwnews  2017-04-02 09:14:00
3  849738907818262534        +     @ThePriscilla  2017-04-05 21:41:57
4  849001997936275458        +           @Iovskh  2017-04-03 20:53:44

In [8]:
op.to_csv("./data/abusive_tweets_compile2.csv")